/* Grid Aufbau der Startseite */
/* Die einzelnen Klassen benennen und konfigurieren */
.oben { 
    grid-area: oben;
    width: auto;
    height: auto;
}
.unten {
    grid-area: unten;
        bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.main {
    grid-area: main;
}
.links {
    grid-area: links;
}

/* Das Grid anordnen */

.mainsite, .info1Jonas, .info2Jonas .quiz1Jonas, .quiz2Jonas {
    display: grid;
    grid-template: 
    'links oben oben oben oben oben'
    'links main main main main main'
    'links unten unten unten unten unten';
}
/* Style des Infoicons für KI-Generierte Inhalte */
.infoicon {
    text-align: right;
    text-decoration: underline;
    font-weight: bold;
}
/* Keine Ahnung wofür das ist!? */
.rightAnswer {
    color: black;
}

.falseAnswer {
    color: black;
}
/* Design von Links z.B. in Buttons */
a {
    text-decoration: none;
    color: black
}


/* Schriftart bestimmen */
body {
    font-family: Arial, Helvetica, sans-serif;
}
 
